<summary class="about">
    <p>
      {{#if @blog.logo}}
          <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
      {{else}}
          {{@blog.title}}
      {{/if}}
    </p>
    <p>
        {{@blog.description}}
    </p>
</summary>
