{{#foreach posts}}
<article class="{{post_class}}">
    <div class="adjuster">
        {{#if image}}
            <div class="background" style="background-image: url({{image}});"></div>
        {{/if}}
        <div class="borderbox">
            <a href="{{url}}">
                <div class="triangle">
                    <div>VIEW</div>
                </div>
            </a>
        </div>
        <section>
                {{#has tag="text"}}
                    <h1>TEXT</h1>
                    <div class="content-container">
                        <p class="tags">#{{tags separator=" #"}}</p>
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM YYYY"}}</time>
                        <p class="intro">{{excerpt words="30"}}...</p>
                        <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
                    </div>
                {{else}}
                    {{#has tag="video"}}
                        <h1>VIDEO</h1>
                    {{else}}
                        {{#has tag="photo"}}
                            <h1>PHOTO</h1>
                        {{else}}
                            {{#has tag="sound"}}
                                <h1>SOUND</h1>
                            {{else}}
                                {{#has tag="drawn"}}
                                    <h1>DRAWN</h1>
                                {{else}}
									{{#has tag="design"}}
										<h1>DESIGNED</h1>
									{{else}}
										{{#has tag="developed"}}
											<h1>DEVELOPED</h1>
										{{else}}
											{{#has tag="illustrated"}}
												<h1>ILLUSTRATED</h1>
											{{else}}
												
											{{/has}}
										{{/has}}
									{{/has}}
                                {{/has}}
                            {{/has}}
                        {{/has}}
                    {{/has}}
                    <div class="content-container">
                        <p class="tags">#{{tags separator=" #"}}</p>
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM YYYY"}}</time>
                        <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
                    </div>
                {{/has}}
        </section>
    </div>
</article>
{{/foreach}}
