{{!< default}}

{{#post}}

<main class="post-container post-container--single">
    <article class="{{post_class}}">
        {{#if image}}<img src="{{image}}" class="post-cover-image" />{{/if}}
        <section class="content">
            <h1 class="post-title">{{{title}}}</h1>
            <time datetime="{{date format=" DD MMM YYYY "}}" class="post-date">{{date format="DD MMM YYYY"}}</time>
    		<p class="tags">{{tags separator=" #" prefix="#"}}</p>
            {{content}}
        </section>
    </article>
</main>

    {{!-- {{> comments}} --}}
{{/post}}
